@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: #c2c2c2;
  color: #303030;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 16px;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
}

input:focus-visible {
  outline: 0;
}
